c) 3.07 KB
/*STAFF*/
/* WHITE BA: http://i.imgur.com/wJTv6Pd.png | */

/*WARRIOR*/
[data-cid^="4635487-"] .badge-box .bdg{
background: url('https://cdn.radiant.dj/rcs/icons/radiant/admin.png')!important;
background-position: 0 0;
}

/*null*/
[data-cid^="3821094-"] .msg .from .un{
position:relative;
left:-2.3px;
padding-left:21px;
background-image:url(null);
background-repeat:no-repeat;
background-position:2px center;
background-size:15px auto;
}

/*null*/
[data-cid^="5069104-"] .msg .from .un{
position:relative;
left:-2.3px;
padding-left:21px;
background-image:url(null;
background-repeat:no-repeat;
background-position:2px center;
background-size:15px auto;
color:#A31616;
}

/*null*/
[data-cid^="3664742-"] span.un.clickable{
color:#FFFFFF!important;
}

[data-cid^="3664742-"] .msg .from .icon-chat-manager{
background: url("null")!important;
}

/*null*/
[data-cid^="3982394-"] .badge-box .bdg{
background: url('null')!important;
background-position: 0 0;
}

[data-cid^="3982394-"] .msg .from .un{
position:relative;
left:-2.3px;
padding-left:21px;
background-image:url(null);
background-repeat:no-repeat;
background-position:2px center;
background-size:15px auto;
}

/*null*/
[data-cid^="5351087-"] .badge-box .bdg{
background: url('null')!important;
background-position: 0 0;
}

/*null*/
[data-cid^="6614885-"] .badge-box .bdg{
background: url('null')!important;
background-position: 0 0;
}

/*null*/
[data-cid^="3737749-"] .badge-box .bdg{
background: url('null')!important;
background-position: 0 0;
}

[data-cid^="3737749-"] .msg .from .un{
position:relative;
left:-2.3px;
padding-left:21px;
background-image:url(null);
background-repeat:no-repeat;
background-position:2px center;
background-size:15px auto;
}

/*null*/
[data-cid^="5025010-"] .badge-box .bdg{
background: url('null')!important;
background-position: 0 0;
}

[data-cid^="5025010-"] .msg .from .un{
position:relative;
left:-2.3px;
padding-left:21px;
background-image:url(null;
background-repeat:no-repeat;
background-position:2px center;
background-size:15px auto;
}

/*null*/
[data-cid^="3726868-"] .badge-box .bdg{
background: url('null')!important;
background-position: 0 0;
}

/*null*/
[data-cid^="3620165-"] .badge-box .bdg{
background: url('null')!important;
background-position: 0 0;
}

/*null*/
[data-cid^="13452298-"] .msg .from .un{
position:relative;
left:-2.3px;
padding-left:21px;
background-image:url(null;
background-repeat:no-repeat;
background-position:2px center;
background-size:15px auto;
}

[data-cid^="13452298-"] span.un.clickable{
color:#FF54F1!important;
}

/*VIP*/

/*null*/
[data-cid^="4115729-"] .badge-box .bdg{
background: url('null')!important;
background-position: 0 0;
}
