# RULES

1. Be active.
2. Be nice.
3. Don't ask rank.
4. Allowed: All genre songs here.
5. Not allowed: Heavy Metal, Justin Bieber, 1D, Nicki Minaj, Lady Gaga, Isac Elliot, trollmusic, parody songs here.
6. Maximum 8 minutes per song. Everyone should have a chance of playing their song.
7. Dont be a little bitch flamer in the chat! We are all friends here, so calm your tits and be happy :)
