/*CSS has been made for Chillout on plug.dj Community*/

.icon{ 
background-image: url('http://i.imgur.com/FrHLx1j.png'); 
}
#your-active-playlist > .icon-check-purple{ 
background: url('http://i.imgur.com/8StjGgk.png') !important; 
top: 15px; 
}
#user-menu .item > .icon-history-white{ 
background: url('https://i.imgur.com/EdPgEwe.png') !important; 
top: 12px; 
}
#footer-user .item > .icon-history-white{ 
background: url('https://i.imgur.com/EdPgEwe.png') !important; 
top: 12px;
}
#dashboard .icon-grab{  
background: url('http://i.imgur.com/Lh837G1.png');  
}
#room-settings .general-settings .option button.off{
background: #5DB4FF;
}
#room-settings .general-settings .option.enabled>button.on{
background: #5DB4FF;
}
/*NEDOKONČENE
#user-lists .list.staff .group{
background: orange;
}*/
#playlist-button{
background: #63A9E6;
}
#app-header{
background: orange;
}
#plug-dj{
background: #63A9E6;
}
#plug-menu{
background: #63A9E6;
}
#plug-menu .legal{
background: #63A9E6;
}
#settings{
background: #63A9E6;
}
#settings .header{
background: #63A9E6;
}
@media (max-width: 1600px){
}
.social-menu .icon-twitter,.social-menu .icon-facebook{
opacity: 1;
}
#playlist-import:hover{
background: #63A9E6;
}
#user-panel .score{
background: #63A9E6;
}
#dj-button.is-locked .left,
#dj-button.is-full .left,
#dj-button .left,
#dj-button.is-quit .left, 
#dj-button.is-leave .left, 
#dj-button.is-wait .left, 
#dj-button.is-locked .left, 
#dj-button.is-full .left{
background: #63A9E6;
border-radius: 6px;
border-left-width: 5px;
